.Intro{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.Intro__card{
    margin: 10% auto;
    width: 65vw;
    height: 60vh;
    border-radius: 40px;
    background-color: white;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.2s;
    z-index: 9;
    
}

.Intro__hello{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    font-size: 600%;
    top: 20%;
    opacity: 1;
    animation: fade 4s;
    
}

@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }