.parallax{
    display: flex;
    flex-direction: column;
    background-image: url("./images/background.jpg");
}

.app__reactLogo{ 
    position: absolute;
    left: -1%;
    top: 5%;
    float: left;
    display: flex;
    width: 20vw;
    margin:10px;
}

.app__reduxLogo{
    position: absolute;
    right: 3%;
    top: 6%;
    float: left;
    display: flex;
    width: 10vw;
    margin:10px;
}

.app__nodejsLogo{
    position: absolute;
    right: 3%;
    top: 70%;
    float: left;
    display: flex;
    width: 10vw;
    margin:10px;
}

.app__mdbLogo{
    position: absolute;
    align-self: center;
    top: -2%;
    float: left;
    display: flex;
    width: 10vw;
    margin:10px;
}

.app__firebLogo{
    position: absolute;
    top: 40%;
    float: left;
    display: flex;
    width: 15vw;
    margin:10px;
}

.app__phpLogo{
    position: absolute;
    right: 3.2%;
    top: 45%;
    float: left;
    display: flex;
    width: 10vw;
    margin:10px;
}

.app__vueLogo{
    position: absolute;
    align-self: center;
    top: 82%;
    float: left;
    display: flex;
    width: 10vw;
    margin:10px;
}